/* main styling */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

body{
    margin: 0;
    display: grid;   
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    /* justify-content: center;   */
}

header{
    grid-area: "header";
    background-color: rgb(211, 180, 40);
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 2em;
}

nav{
    grid-area: "nav";
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li{
    background-color: rgb(255, 218, 55);
    flex-basis: 20%;
    padding: 8px;
    margin: 8px;
}

main{
    grid-area: "main";
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;

}

footer{
    grid-area: "footer";
    text-align: center;
    background-color: rgb(211, 180, 40);
    color: #FFF;
    padding: 20px;
}


/* section styling */

section{
    background-color: rgb(211, 180, 40);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    border-bottom: 1px  rgb(189, 161, 35) solid ;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.project-card{
    background-color: #FFF;
    width: 100%;
    margin: 8px auto;
    padding: 20px;
    text-align: center;
}



.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFF;
}

.social-container{
    /* flex-basis: 15%;
    margin: auto; */
    max-width: 50px;
}

.social-img{
    width: 50%;
    height: 50px;
    padding: 15px;
    background-color: rgb(211, 180, 40);
    /* fill: rgb(241, 239, 239); */
    border-radius: 50%;
    border: 5px;
}




