/* main styling */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

body{
    margin: 0;
    display: grid;   
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
   
}

header{
    grid-area: header;
    background-color: rgb(255, 218, 55);
    color: rgb(51, 46, 21);
    text-align: center;
    margin: 0;
    padding: 1em;   
    
}

.dot{
    background-color: rgb(51, 46, 21);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: -40px;
    top: -40px;
    z-index: 0;
    transition: transform ease-in-out .3s;
}

.dot:hover{
    transform: scale(1.4);
}

h1{
    padding: 10px;
}

h2{
    padding: 10px;;
}

.roles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

header h2{
    background-color: white;
    margin: 5px;
    font-size: 16px;
    
     
}

nav{
    grid-area: nav;
    padding: 12px;
    background-color: rgb(51, 46, 21);
}

.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    list-style: none;
    padding: 0;
    
}

nav li{    
    flex-basis: 20%;
    padding: 2px;    
    text-align: center;
}

nav li:hover{
    text-decoration: underline;
}

nav li a{
    color: #FFF;
    font-size: 14px;
}

a{
    text-decoration: none;
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: rgb(236, 236, 236);

}

footer{
    grid-area: footer;
    text-align: center;
    background-color: rgb(51, 46, 21);
    color: #FFF;
    padding: 20px;

}


/* section styling */

section{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5em;
    /* justify-content: center; */
    text-align: center;
}

section h2{
    background-color: rgba(245, 245, 245, 0.9);
    
    border-radius: 5px 5px 0px 0px;
    width: 98%;
    align-self: center;
}


.card{
    background-color: #FFF;
    width: 100%;
    margin: 0px auto 8px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px 0px;
    box-shadow: 0 10px 6px -6px #777;;
}

.more{
    margin: 12px auto;
    text-align: center;
}

.more a{
    background-color: rgb(236, 202, 52);
    padding: 10px;
    border-radius: 5px;
    color: black;
    box-shadow: 0 6px 6px -6px #777;
    transition: transform ease-in-out 0.5s;
}

.more a:hover{
    transform: scale(1.2);
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: #FFF;
    border-bottom: none;
    margin-top: 10px;
}

.social-container{
     
    width: 50px;
    height: 50px;
    background-color: rgb(211, 180, 40);
    border-radius: 50%;
    padding: 10px; 
    border: 5px;
    align-content: center;
}

img{
    width: 100%;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 2px;
    margin: 5px;
}

.languages li{
    background-color:rgb(236, 202, 52); 
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

/* media queries */

@media (min-width: 768px){
    main{
        
        grid-template-columns: 50%;                   
    }
    .webdev{
        grid-column: 1 / span 1;
    }

    .games{
        grid-column: 2 /span 1;
    }

    .socials,
    .about,
    .art{
        grid-column: 1 / span 2;
    }   


}

@media(min-width: 1024px){
    main{
        grid-template-columns: 30%;
    }

    .webdev{
        grid-column: 1 / span 1;
    }

    .games{
        grid-column: 2 /span 1;
    }

    .art{
        grid-column: 3/ span 1;
    }

    .socials,
    .about{
        grid-column: 1 / span 3;
    }   
}




